/* Палитра цветов макета и наборы шрифтов */
$font-montserrat: "Montserrat", sans-serif;
$font-cinzel: "Cinzel", sans-serif;
$color-additional: #2196f3;
$color-text: #ffffff;
$color-text-secondary: #757575;
$color-default-white: #f8f8f8;
$color-default-black: #050607;
